.App {
   text-align: center;
   padding: 0 20px;
   font-family: 'Roboto Condensed', sans-serif;
}

#title {
   margin-top: 0;
}

.ui.divider {
   margin-bottom: 0;
}

#toggle {
   margin-top: 20px;
}

#toggle button {
   width: 200px;
}

.date-div {
   text-align: left;
   font-size: 35px;
   font-weight: bold;
   margin-top: 14px;
}

.game-div {
   text-align: left;
   height: 90px;
   border-top: 1px solid #DEDEDF;
}

.game-div:hover {
   background-color: rgb(250, 250, 250);
   cursor: pointer;
}

.series-status {
   font-weight: bold;
   color: grey;
}

.team {
   display: inline-block;
   margin-top: 10px;
   width: 200px;
}

.at {
   display: inline-block;
   vertical-align: middle;
   margin-right: 10px;
   font-size: 15px;
}

.game-content {
   display: inline-block;
   margin-right: 10px;
   vertical-align: middle;
   font-size: 25px;
   font-weight: bold;
}

.game-content.broadcast {
   margin-left: 30px;
   width: 100px;
}

.game-content.decisions {
   width: 170px;
}

.pitcher {
   color: cornflowerblue;
   margin-right: 20px;
}

.pitcher:hover {
   text-decoration: underline;
}

.links {
   display: inline-block;
}

.ui.tiny.modal {
   width: 475px;
}

.ui.modal>.header:not(.ui) {
   text-align: center;
   padding: 10px;
   font-family: 'Roboto Condensed', sans-serif;
}

.ui.modal>.description:not(.ui) {
   height: 130px;
   text-align: center;
   padding: 10px;
   font-family: 'Roboto Condensed', sans-serif;
}



@media screen and (min-width: 1221px) and (max-width: 1411px) {
   .game-div {
      height: 120px;
   }
   
   .links {
      margin-top: 20px;
   }
}
@media screen and (min-width: 770px) and (max-width: 1221px) {
   .game-div {
      height: 120px;
   }
   
   .links {
      margin-top: 20px;
   }

   .game-content.decisions {
      margin-top: 20px;
   }


}

@media screen and (min-width: 615px) and (max-width: 770px) {
   .date-div {
      text-align: center;
   }

   .game-div {
      text-align: center;
      height: 240px;
      font-size: 20px;
   }

   .game-content {
      margin-top: 20px;
   }

   .team {
      width: 45vw;
   }

   .ui.tiny.modal {
      width: 65%;
   }

   .ui.modal>.header:not(.ui) {
      height: 40px;
   }

   .ui.modal>.description:not(.ui) {
      height: 130px;
   }

   .ui.celled.table tr, th {
      padding: 1vw;
   }
}

@media screen and (min-width: 410px) and (max-width: 615px) {
   .date-div {
      text-align: center;
   }

   #mlb-logo {
      width: 120px;
      height: 75px;
   }

   #toggle button {
      width: 100px;
   }

   h1 {
      font-size: 15px;
   }

   .game-div {
      text-align: center;
      height: 270px;

   }

   .game-content {
      margin-top: 20px;
      font-size: 20px;
   }

   .team {
      width: 38vw;
   }

   .game-content.status {
      width: 30vw;
   }

   .game-content.broadcast {
      width: 30vw;
   }
}

@media screen and (max-width: 410px) {
   .date-div {
      text-align: center;
      font-size: 25px;
   }

   #mlb-logo {
      width: 120px;
      height: 75px;
   }

   #toggle button {
      width: 100px;
   }

   h1 {
      font-size: 15px;
   }

   .game-div {
      text-align: center;
      height: 240px;
      
   }

   .game-content {
      margin-top: 20px;
      font-size: 15px;
   }

   .team {
      width: 38vw;
   }

   .game-content.status {
      width: 30vw;
   }

   .game-content.broadcast {
      width: 30vw;
   }

   .game-content.decisions {
      width: 25vw;
      font-size: 12px;
   }
}